<br/>
<br/>
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <mat-grid-tile-header> Employees </mat-grid-tile-header>
    <h1> {{ employee_count }} </h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header> Full-time Employees </mat-grid-tile-header>
    <h1> {{ full_time_employee_count }} </h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header> Contract Employees </mat-grid-tile-header>
    <h1> {{ contract_employee_count }} </h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header> Departments </mat-grid-tile-header>
    <h1> {{ department_count }} </h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header> Dependents </mat-grid-tile-header>
    <h1> {{ dependent_count }} </h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header> Projects </mat-grid-tile-header>
    <h1> {{ project_count }} </h1>
  </mat-grid-tile>
</mat-grid-list>
